$icon-version:          "1.0";
$icon-font-path:        "/static/fonts" !default;
$icon-font-name:        "icons" !default;
$icon-font-size-base:   16px !default;
$icon-css-prefix:       icon !default;
$icon-border-color:     #eee !default;
$icon-inverse:          #fff !default;
$icon-li-width:         (30em / 14) !default;