/* #Common
================================================== */
.wrap {
	margin:0 auto;
	position:relative;
	padding:0 1em;
}

.inverted {
	background:#111;
	color:$default-font-color-inverted;
}

/*.notification-message{
    display:none;
}*/